In [1]:
thislist = ["abc", 34, True, 40, "male"]
print(thislist)
print(len(thislist))

['abc', 34, True, 40, 'male']
5

In [2]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
print(len(tuple1))

('abc', 34, True, 40, 'male')
5

In [3]:
set1 = {"abc", 34, True, 40, "abc"}
print(set1)
print(len(set1))

{40, True, 34, 'abc'}
4

In [4]:
dic = {
    "name":'Himank',
    "Age":22
}
print(dic)

{'name': 'Himank', 'Age': 22}

In [5]:
import sys
print("python version")
print(sys.version)

python version
3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]

In [6]:
from datetime import date
today=date.today()
print(today)

2022-02-08

In [7]:
import datetime
now=datetime.datetime.now()
print(now)

2022-02-08 07:00:56.697965

In [8]:
class dog:
    a="Himank"
    b="bye!"
    def intro(self):
        print("hi",self.a)

Tommy=dog()
Tommy.intro()
print(Tommy.b)

hi Himank
bye!

In [9]:
#format function

print(format(28,"d"))
print(format(28,"b"))
print(format(28.55,"f"))

28
11100
28.550000

In [10]:
#1
list1=list(map(int,input("Enter the numbers for the list: ").split()))
print("Ans1. Max number from the list is: ",max(list1))
print()

#2
list2=list(map(int,input("Enter the numbers you want the sum for:  ").split()))
print("Ans2. Sum of the numers is: ", sum(list2))
print()


#3
mul=1
list3=list(map(int,input("Enter the numbers you want the product for:  ").split()))
for i in list3:
    mul*=i
print("Ans3. Multiplication of all numbers is ",mul)
print()


#4
str1=input("enter the string: ")
print("Ans4. The reverse of string",str1,"is:",str1[::-1])
print()

#5
print("Ans 5.")
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)
n=int(input("Enter the number you want the factorial of: "))
print("Ans5. The factoril of the given number is ", factorial(n))
print()

#6
print("Ans 6.")
def checkRange(n,low,high):
    
    if n>low and n<high:
        print("The given number is with the range")
    else:
        print("The given number is out of range")
        
        
low=int(input("Enter the lower number: "))
high=int(input("Enter the higher number: "))
n=int(input("Enter the number you want to check: "))
checkRange(n,low,high)
print()

#7
print("Ans 7.")
even=filter(lambda x: x%2==0,list(map(int,input("Enter the numbers for the list: ").split())))
print("Even numbers from the given list is: ",end=" ")
for i in even:
    print(i,end=" ")

Enter the numbers for the list: 23
Ans1. Max number from the list is:  23

Enter the numbers you want the sum for:  23 45 67 78
Ans2. Sum of the numers is:  213

Enter the numbers you want the product for:  23 45 67 78
Ans3. Multiplication of all numbers is  5408910

enter the string: Himank Jain
Ans4. The reverse of string Himank Jain is: niaJ knamiH

Ans 5.
Enter the number you want the factorial of: 45
Ans5. The factoril of the given number is  119622220865480194561963161495657715064383733760000000000

Ans 6.
Enter the lower number: 12
Enter the higher number: 45
Enter the number you want to check: 23
The given number is with the range

Ans 7.
Enter the numbers for the list: 1 2 3 4
Even numbers from the given list is:  2 4